# Fichiers de swap Vim/Emacs
.*.swp
.*.swo
.#*
*~

# Fichiers de logs
*.aux
*.log
*.out
*.toc
*.synctex.gz

#Fichers mac
.DS_Store

# Fichiers pour la salle 411
python-modules.tar.gz
python-modules/

# Fichiers Latex
*.aux
*.log
*.nav
*.out
*.pdf
*.gz
*.snm
*.toc
*.bbl
*.blg
