# Fichiers de swap Vim/Emacs
.*.swp
.*.swo
.#*
*~

# Fichiers compilés
*.o
*.class
*.pyc


# Fichiers de l'éditeur
.directory
src/build-RPGEditor-Desktop_Qt_5_6_1_GCC_64bit-Debug/
src/editor/RPGEditor.pro.user
src/editor/doc.doxy
