# Fichiers de swap Vim/Emacs
.*.swp
.*.swo
.#*
*~

# Fichiers compilés
*.o
*.class
*.pyc

# Fichiers de logs
*.log

# Fichiers d'éditeur
src/build-RPGEditor-*
src/editor/RPGEditor.pro.user

# Fichier de lancement du serveur
src/isserver.py

# Fichiers de cache Python
src/__pycache__

#Fichers mac
.DS_Store
